<!-- Utilisation de la directive pour créer le header de la page -->
<ion-header>

  <!-- Utilisation de la directive pour créer la barre de navigation de la page -->
  <ion-navbar>

    <!-- Utilisation de la directive pour créer bouton burger menu -->
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <!-- Utilisation de la directive pour créer titre de la page -->
    <ion-title>{{supportTitle}}</ion-title>

  </ion-navbar>

</ion-header>

<!-- Utilisation de la directive pour afficher le contenu de la page -->
<ion-content padding>
  
  <!-- Utilisation des class pour créer les animation / https://goo.gl/lXfZrY -->
  <h1 class="animated fadeIn">{{pageQuote}}</h1>
  <p class="animated fadeIn">Cliquez sur un des icons pour voir la liste des supports.</p>

  <!-- Utilisation de la directive permettant de générer des listes / https://goo.gl/knE6Rx -->
  <ion-list class="homePage">

    <!-- Affichage conditionnel des erreurs -->
    <em *ngIf="errorMessage">{{errorMessage}}</em>

    <!-- Boucle for...of sur une collection de données /https://goo.gl/aZ9KPu -->
    <article *ngFor="let item of wpCollection" class="menuHome animated fadeIn" (click)="getWpMemoItem(item)">
      <img src="assets/img/skills/{{item.slug}}.svg"/>
      <a class="accMenuBtn"><span>{{item.name}}</span></a>
    </article>

  </ion-list>

</ion-content>
