<!-- Utilisation de la directive pour créer le header de la page -->
<ion-header>

  <!-- Utilisation de la directive pour créer la barre de navigation de la page -->
  <ion-navbar>

    <!-- Utilisation de la directive pour créer bouton burger menu -->
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <!-- Utilisation de la directive pour créer titre de la page -->
    <ion-title>Contributeurs</ion-title>

  </ion-navbar>

</ion-header>

<!-- Utilisation de la directive pour afficher le contenu de la page -->
<ion-content padding>

    <!-- Utilisation des class pour créer les animation / https://goo.gl/lXfZrY -->
    <h1 class="animated fadeIn">{{pageQuote}}</h1>
    <p class="animated fadeIn">Cette application est conçue à plusieurs mains, en voici la liste.</p>

    <div *ngIf="wpCollection">
        <ion-card *ngFor="let item of wpCollection" class="animated fadeIn">
            <div class="userCover">
                <img src="{{item.acf.profile_picture.sizes.thumbnail}}"/>
            </div>
            <ion-card-content>
                <ion-card-title>{{item.name}}</ion-card-title>
                <p><a href="{{item.url}}" target="_blank">{{item.url}}</a></p>
                <p>{{item.description}}</p>
                <ion-grid>
                    <ion-row>
                        <ion-col width-20 *ngIf="item.acf.contact_mail">
                                <a href="mailto:{{item.acf.contact_mail}}" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        </ion-col>
                        <ion-col width-20 *ngIf="item.acf.profil_github">
                                <a href="{{item.acf.profil_github}}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </ion-col>
                        <ion-col width-20 *ngIf="item.acf.lien_linkedin">
                                <a href="{{item.acf.lien_linkedin}}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </ion-col>
                        <ion-col width-20 *ngIf="item.acf.lien_twitter">
                                <a href="{{item.acf.lien_twitter}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </ion-col>
                        <ion-col width-20 *ngIf="item.acf.lien_facebook">
                                <a href="{{item.acf.lien_facebook}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </div>


</ion-content>
