<!-- Utilisation de la directive pour créer le header dla page -->
<ion-header>

  <!-- Utilisation de la directive pour créer la barre de navigation de la page -->
  <ion-navbar>
    <!-- Le bouton rétour est ajouté automatiquement -->
  </ion-navbar>

</ion-header>

<!-- Utilisation de la directive pour afficher le contenu de la page -->
<ion-content>
  <div class="memoList"  *ngIf="selectedItems">
    
    <!-- Utilisation des class pour créer les animation / https://goo.gl/lXfZrY -->
    <div *ngIf="title">
      <h2 class="animated fadeIn">{{title.name}}</h2>
      <p class="animated fadeIn">Cliquez sur un des sujets pour voir les détails</p>
    </div>

    <!-- Affichage conditionnel des erreurs -->
    <em *ngIf="errorMessage">{{errorMessage}}</em>
    
    <!-- Boucle for...of sur une collection de données /https://goo.gl/aZ9KPu -->
    <section class="toggleBox animated fadeIn" *ngFor="let item of collection">

      <!-- Binding de l'événement click pour ouvir un modal -->
      <h3 (click)="openModal({ selected: item })">{{item.title.rendered | codeReplace}}</h3>

    </section>

  </div>

</ion-content>
