<!-- Utilisation de la directive pour créer un burger menu / https://goo.gl/YnrqgP -->
<ion-menu [content]="content">

  <!-- Utilisation de la directive pour créer le header du burger menu -->
  <ion-header>
    <div id="myMenu">
      <ion-toolbar>
        
        <ion-title><img class="menuImage"  src="assets/img/logo.svg" /> <span class="menuSpan">Menu</span></ion-title>
        
      </ion-toolbar>
    </div>
  </ion-header>

  <!-- Utilisation de la directive pour afficher le contenu du burger menu / https://goo.gl/YnrqgP -->
  <ion-content>

    <!-- Utilisation de la directive permettant de générer des listes / https://goo.gl/knE6Rx -->
    <ion-list>

      <!-- Boucle for...of sur une collection de données /https://goo.gl/aZ9KPu -->
      <button ion-item *ngFor="let page of pagesList" (click)="openPage(page)">
        {{page.title}}
      </button>

    </ion-list>

  </ion-content>

</ion-menu>

<!-- Utilisation de la directive pour afficher les vues de différentes routes / https://goo.gl/PAHKZR -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
