// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);

* {
    margin: 0;
    padding: 0;
}

html {
	font-size: 62.5%
}

body {
	font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
	color: grey;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 300;
}

h1, h2, h3, h4, h5 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: white;
}

h1 {
    color: #363795;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 0;
    margin: 1rem .5rem 0 .5rem !important;
}

h1 + p {
    font-weight: 200;
    font-size: 1.8rem !important;
    margin: 1rem .5rem 2rem .5rem !important;
}

h1 span {
    font-size: 1rem;
    font-weight: 100;
    color: #00bacc;
    display: inline-block;
}

h2 {
    color: #363795;
    font-size: 2rem;
    margin: 2rem auto 0 auto;
    font-weight: 700;
    padding-bottom: 0;
}

h2 + p {
    font-weight: 200;
    font-size: 1.8rem !important;
    margin: 1rem 0 2rem 0 !important;
}

.modalList h3 {
    background-color: #CA3726;
    font-size: 1.5rem;
    padding: .5rem;
    display: inline-block;
}

li {
	list-style: none;
}

img {
    max-width: 100%;
}

.fa {
    font-size: 1.5rem;
    padding: 0.5rem;
}

/*
Animations
*/

a, .toggleBox h3{
	-webkit-transition: .1s linear all;
	transition: .1s linear all;
}




/*
Style main / loading
*/

main, header section {
	padding: 1.5rem;
}

main {
	margin: 6rem auto;
}

#loading {
	z-index: 100;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 100%;
}

/* FIN MAIN */

/*
Style header
*/


.bar-buttons, .bar-button [color="primary"], .back-button {
    color: #CA3726;
}

.toolbar-background{
    border-color: #CA3726 !important;
}

.title{
    padding: 0 55px 1px !important;
}


nav {
    position: absolute;
    top: 1.1rem;
    right: 2rem;
}

#burgerBtn, #closeBurger {
    color: #282863;
    font-size: 3.5rem;
    position: relative;
    z-index: 2000;
}


#burgerBtn:hover {
	color: #CA3726;
}

#closeBurger {
	color: #CA3726;
	display: none;
}

#closeBurger:hover {
	color: white;
}

nav section p {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #CA3726;
    margin: 2rem auto 1rem auto;
}

nav section {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 8rem 0 0 0;
    top: 0;
    left: 0;
    background-color: white;
    text-align: center;

    display: none;
}

nav section li {
	display: inline-block;
	width: 100%;
	margin-bottom: 1rem;
}

nav section a {
    color: #282863;
    font-size: 1.7rem;
}


header {
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	width: 100%;
    background-color: #363795;
}

header section {
    margin: auto;
}


#topHeader{
	z-index: 1000;
	position: relative;
    background-color: #363795;

}


header img {
	width: 3rem;
	margin-right: 1rem;
    cursor:pointer;
}

header article {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.3rem;	
}

header article:last-of-type{
	width: 80%;
	padding-top: .2rem;
}

/* FIN HEADER */

/*
Page Accueil
*/

#myMenu .toolbar-background {
    background-color: #cb3727;
    text-align: left;
}

#myMenu ion-title {
    padding: 0 0 0 16px !important;
}

#myMenu ion-title .toolbar-title {
    text-align: left;
    color: white;
    text-transform: uppercase;
}

.menuImage {
    width: 2.5rem;
    float: left
}

.menuSpan {
    padding: 0.2rem 0 0 1rem;
    display: inline-block;
}

#ionicHome {
    background-color: #363695;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
}
#ionicHome #iside{
    position: absolute;
    width: 30rem;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
}

#ionicHome img {
    width: 150px;
}

#ionicHome .title {
    font-size: 2.4rem;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
}

#ionicHome .ssTitle  {
    color: #ca3727;
    text-transform: uppercase;
}

#ionicHome .cta {
    display: inline-block;
    margin-top: 2rem;
    background-color: white;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
}

.homePage{
    text-align: center;
}


.redTitle{
    color: #CA372B;
    text-align: center;
    margin-top: 2rem;
}

.menuHome {
    text-align: center;
    width: 43%;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 0 1rem 1rem 1rem;
}

.menuHome.noDisplay {
    display: none;
}

.menuHome img {
    background-color: #363795;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 1.5rem;
    width: 15rem;
    display: block;
    margin: 1rem auto 0 auto;
    border: 1rem double white;
    -webkit-transition:all .5s;
    transition:all .5s;
}

.menuHome a {
    color: #363795;
    font-weight: 800;
    font-size: 1.1rem;
    display: block;
    max-width: 15rem;
    margin: -3rem auto 0 auto;
    line-height: 1em;
    padding: .7rem 0.5rem 1rem 0.5rem;
    border-top: .1rem dotted #363795;
    border-bottom: .1rem dotted #363795;
    background-color: white;
    z-index: 100;
    position: relative;
}

.menuHome:hover img{
    background-color: #232469
}

.menuHome:hover a{
    color: #CA372B;
}

/* FIN ACCUEIL */

/*
Page tutos
*/

.itemDescription {
    font-size: 2rem;
    line-height: 1.5em;
    font-weight: 300;
    margin-bottom: 1rem;
}

.modalList, .memoList{
    padding: 0 16px;
}

.contentToggle  {
    overflow-y: hidden;
	max-height: 0;
    visibility: hidden;
    opacity: 0;

    -webkit-transition-property: all;
    transition-property: all;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.contentToggle.open{
    max-height: 100rem;
    visibility: visible;
    opacity: 1;
}

.footerList{
    height: 0;
    overflow-y: hidden;
    visibility: hidden;
    opacity: 0;

    -webkit-transition-property: all;
    transition-property: all;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.footerList.open{
    height: 14rem;
    visibility: visible;
    opacity: 1;
}

.contentToggle p:first-of-type{
    padding-top: 2rem;
}



.toggleBox h3 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 100;
    background-color: #ca3726;
    padding: 1rem;
    color: white;
}

.toggleBox h3:hover{
	background-color: #363795;
	padding-left: 1.2rem;
}

h4 {
    font-size: 1.2rem;
    color: #363795;
    margin: 2rem auto 1rem auto;
}

// pre {
//     font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
//     font-size: 1.5rem;
//     display: block;
//     padding: 1rem 2rem;
//     word-break: break-all;
//     word-wrap: break-word;
//     white-space: pre-wrap;
//     background-color: #f5f5f5;
// }

pre p {
    padding: 2rem;
    background-color: #f5f5f5;
    margin-top: -3rem;
    margin-bottom: -3.5rem;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    line-height: 1.5em;
}

.knowMore {
    color: white;
    background-color: #363795;
    padding: .5rem 1rem;
    margin-top: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-weight: 500;
}

.toggleBox a:hover {
	background-color: black;
}

/* FIN TUTO */


/*
Style Contributors
*/

.card-ios {
    margin: 30px 5px;
    width: calc(100% - 10px);
}

.userCover{
    max-height: 200px; 
    overflow: hidden;
}
.userCover img{
    margin-top: -100px;
}

.card-title-ios {
    font-size: 2.5rem;
    font-weight: 900;
    padding-bottom: 0;
}

.card-title-ios + p {
    margin-bottom: 20px;
    background: #373895;
    padding: 5px 10px;
}

.card-title-ios + p a {
    color: white;
    font-weight: 500;
}

ion-grid{
    padding: 0;
    margin-top: 20px;
}

ion-col[width-20] {
    text-align: center;
    background: black;
    border-right: 5px solid white;
    margin: 0;
}

ion-col[width-20] a{
    color: white;
}

/* FIN Contributors */

/*
Style footer
*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 1.5rem .5rem 1rem;
    background-color: #363795;
    z-index: 2000
}

footer h4 {
	margin: 1rem auto;
    color: white;
}

footer h4 a{
	color: white;
	font-weight: 800;
}

footer a {
	color: white;
	font-size: 1rem;
}

footer a:hover {
	color: #CA372B;
}


footer p {
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .5rem 2.5rem;
    margin: 0	-1.1rem;
    background-color: black;
}

footer li:last-of-type {
    margin: 1rem 2rem 2rem 0;
    padding-top: 1rem;
    border-top: .1rem dotted #282863;
}

footer li:last-of-type a {
    color: #ca3726;
    font-weight: bold;
}

footer li:last-of-type a:hover {
    color: white;
}