<!-- Utilisation de la directive pour créer le header de la modal -->
<ion-header>
  <!-- Utilisation de la directive pour créer une barre générique / https://goo.gl/SLEqMa -->
  <ion-toolbar>

    <!-- Utilisation de la directive pour créer un bouton / https://goo.gl/n7zoPI -->
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Fermer</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<!-- Utilisation de la directive pour afficher le contenu de la modal -->
<ion-content>

  <!-- Utilisation de la directive permettant de générer des listes / https://goo.gl/knE6Rx -->
  <ion-list class="modalList">
      <h2>{{itemDetail.title.rendered | codeReplace}}</h2>
      <p class="itemDescription">{{itemDetail.acf.description | codeReplace}}</p>
      <div *ngIf="itemDetail.acf.exemple">
        <h3>Exemple</h3>
        <pre>
            <code>
                <p>{{itemDetail.acf.exemple | codeReplace}}</p>
            </code>
        </pre>
      </div>
      <p *ngIf="itemDetail.acf.link"><a href="{{itemDetail.acf.link}}" target="_blank" class="knowMore">En savoir plus</a></p>
  </ion-list>
  
</ion-content>