

<!-- Utilisation de la directive pour afficher le contenu de la page -->
<ion-content (click)="openMenu()">
<ion-content>

  <div id="ionicHome">
    <div id="iside">
      <img class="animated fadeInDown"  src="assets/img/icon.png" />
      <p class="title animated fadeInRight">Hives of knowledges</p>
      <p class="ssTitle animated fadeInLeft">Memento du développeur Web</p>
      <p class="cta animated fadeInUp">Cliquer pour entrer</p>
    </div>
  </div>

  <!--<form (ngSubmit)="login($event, cosumer_key.value, consumer_secret.value)">
    <ion-item>
      <ion-label>Todo</ion-label>
      <ion-input type="text" [(ngModel)]="request.cosumer_key" name="cosumer_key" #cosumer_key></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea [(ngModel)]="request.consumer_secret" name="consumer_secret" #consumer_secret></ion-textarea>
    </ion-item>
    <button ion-button type="submit" block>Login</button>
  </form>-->

</ion-content>
